body{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(247, 211, 228);
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img24/imgback.webp');
    width:1200px;
    padding: 10px 10px;

}
h1{
    color:deeppink;
    padding: 40px;
    font-family:'Times New Roman', Times, serif;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    margin: 10px auto 0px auto;
    text-align: center;
    font-size: 70px;
    background-color: rgb(250, 192, 222);
 }
 header{

    position:webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;

}
 .menu-h{
    background-color: rgb(233, 133, 163);
    padding: 1px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}
.menu-h ul li {
    display: inline;
}
.menu-h ul li a {
     color: rgb(3, 3, 3);
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}
.menu-h ul li a:hover {
    background-color: rgb(233, 24, 153);
}
.menu-h ul li:last-child a {
    float: right;
    background-color: rgb(238, 84, 169);
}
 li{
    display: inline;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif; 
}
article img {
    border: 1px solid rgb(255, 255, 255);
    margin: 20px 20px 0 0;
    padding: 2px;
    width: 250px;
}
p.one{
    border-width: 2px;
    border-style: solid;
    border-color:rgb(245, 145, 203);
    padding: 10px;
    margin: 10px 10px 10px 10px;
    float: right;
    width:70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
p.two{
    border-width: 2px;
    border-style: solid;
    border-color:rgb(245, 145, 203);
    padding: 10px;
    margin: 10px 10px 10px 10px;
    float: right;
    width: 70%;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p.three{
    border-width: 2px;
    border-style: solid;
    border-color:rgb(245, 145, 203);
    padding: 10px;
    margin: 10px 10px 10px 10px;
    float: right;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3.saude{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
h3.pele{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
h3.cabelo{
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    margin: 10px auto 0px auto;
}
footer{
    text-align: center;
    border: 1px;
    background-color: rgb(245, 145, 203);
    font-family: 'Times New Roman', Times, serif ;
    padding: 4px;
}
